{% extends 'base.html' %}

{% block content %}
<!-- body -->
<div class="container">
	<!-- all cinemas -->
	<div class="control-group m-2">
		<div class="form-inline justify-content-end">
			<label for="date-picker">Pick a Date: </label>
			<input type="date" class="form-control" id="date-picker" name="date">
		</div>
	</div>
	<div id='cinemas'>

		<!-------------------->

		{% for cinema in cinemas_with_films %}
		<div class="accordion" id="accordionExample">
		  <div class="card">
			<div class="card-header" id="headingOne">
			  <h5 class="mb-0">
				  <div class="card m-2">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{cinema.image.url}}" class="img-fluid rounded-start m-4" />
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{cinema.name}}</h5>
							<ul class="unstyled">
							  <li>{{cinema.location}}</li>
							  <li><small class="text-muted">Phone: {{cinema.phone}}</small></li>
							  <li><small class="text-muted">Email: {{cinema.email}}</small></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cinema_{{cinema.id}}" aria-expanded="true" aria-controls="collapseOne">
				  Розклад сеансів
				</button>
			  </h5>
			</div>

			<div id="cinema_{{cinema.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			  <div class="card-body">

				{% for film, halls in cinema.sessions_by_films.items %}
				  <a href="{% url 'film_page' film.id %}">
					<h5>{{ film.name }}</h5>
				  </a>
				  <ul>
					{% for hall, times in halls.items %}
					  <div class="row g-0">
						<div class="col-md-4">
							{{ hall }}
						</div>
						<div class="col-md-8 a-">
							<div class="a-times">
							  {% for t in times %}
								  <span class="time-cell" style="left:{{t.offset}}%;">
									  <span>
										  <a href="{% url 'session_page' t.session_id %}">
											<h5>{{ t.time }}</h5>
										  </a>
									  </span>
									  <div class="p text-muted small"><i>{{ t.price }}</i>&nbsp;₴</div>
								  </span>
							  {% endfor %}
						  </div>
						</div>
					</div>
					{% endfor %}
				  </ul>
			  	{% endfor %}
			  </div>
			</div>
		  </div>
		</div>
		{% endfor %}

		</div>
</div>

{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
        let params = new URLSearchParams(document.location.search);
		let default_session_date = params.get("session_date");
		if (default_session_date == null)
		{
			const currentDate = new Date();
			default_session_date = currentDate.toISOString().split('T')[0];
		}
         document.getElementById("date-picker").defaultValue = default_session_date;
		  // Initialize datepicker (if using a library)
		  $('#date-picker').change(function() {
			var selectedDate = $(this).val();
			var url = '/cinema_store/?session_date=' + selectedDate;
			window.location.replace(url);
		  });
		});
    </script>

{% endblock script %}