.ml-20 {
    margin-left: 20px;
}

ul.unstyled {
  list-style-type: none;
  padding: 0;
}




.time {
    position: relative;
    display: inline-block;
    left: auto !important;
}
.a-times {
    display: table;
    margin-bottom: 60px;

}
.time-cell
{
    position: absolute;
}


.close {
  font-size: 12px;  /* Adjust font size as needed */
  cursor: pointer;  /* Set cursor to pointer on hover */
}

.float-right { /* Remove or adjust this class if not using flexbox */
  float: right;
}