{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Forgot Your Password?</h1>
            </div>
        </div>
    </section>
    <section class="vh-100 bg-light">
      <div class="container p-10">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
              <br>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <br>
              <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="post">
             {% csrf_token %}
             {{form|crispy}}

              <!-- Submit button -->
              <button type="submit" class="btn btn-dark btn-block mb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

</main>
{% endblock content %}