{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Password reset sent</h1>
            </div>
        </div>
    </section>
    <section class="vh-100 bg-light">
      <div class="container p-10">
        <div class="row d-flex align-items-center justify-content-center h-100 p-5">
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </div>
      </div>
    </section>

</main>
{% endblock content %}