{% extends 'base.html' %}

{% block content %}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Your request is received</h1>
            </div>
        </div>
    </section>
    <section class="vh-100 bg-light">
      <div class="container p-10">
        <div class="row d-flex align-items-center justify-content-center h-100 p-5">
            We’ve received your request. Our manager will contact you soon to set up all the details.
        </div>
      </div>
    </section>

</main>
{% endblock content %}